<footer>


    {#{{ link_to("privacy", "Політика конфіденційності") }}#}
    {#{{ link_to("terms", "Умови") }}#}

    <span>
         © 2014 Івано - Франківська обласна організація <a href="https://www.facebook.com/ifoo.kvu">"Комітет Виборців України".</a>
    </span>
   <span class="softjourn">
       Розробка сайту: <a href="http://softjourn.com"><img src="/img/logo_sj.png" alt="Softjourn, Inc."/></a>
   </span>
    
    

</footer>