<p style="text-align: right">
Окружна виборча комісія <br/>

з позачергових виборів<br/>

Президента України<br/>

територіального виборчого <br/>
округу № {{ user.poll.district }}


    ПІБ {{ user.name }} <br/>

    адреса: {{ user.addressOfResidence }}
</p>


<p>
Я, {{ user.name }}, даю згоду бути

офіційним спостерігачем від Всеукраїнської громадської організації «Комітет

виборців України» в територіальному виборчому окрузі № {{ user.poll.district }} на

позачергових виборах Президента України 25 травня 2014 року.
</p>

<p>
До числа осіб, стосовно яких частиною першою статті 68 Закону

України "Про вибори Президента України" передбачено обмеження, не належу.
</p>
    <p>

Ксерокопії першої та другої сторінок паспорта громадянина України

(ксерокопію тимчасового посвідчення громадянина України – для осіб,

недавно прийнятих до громадянства України) додаю на 1 арк.

    </p>


"__" ___________ 2014 року                  ____________ ____________________________
                                              (підпис)      (прізвище та ініціали)
