<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
</style>

<div style="padding: 20px;width: 1000px">
    <h1 style="text-align: center">КОМІТЕТ ВИБОРЦІВ УКРАЇНИ</h1>
    <hr style="border-top: 3px solid #878787;"/>

    <table style="padding: 0 30px 0">
        <tr>
            <td>04071 м. Київ, вул..Межигірська 22, оф.26</td>
            <td width="300"></td>
            <td>Тел./факс: (044) 425-21-66, 425-23-01</td>
        </tr>
    </table>

    <p style="text-align: center">
        E-mail: cvu@cvu.kiev.ua   http:\\www.cvu.org.ua

    </p>

    Окружна виборча комісія

    територіального виборчого округу № _____

    ПОДАННЯ

    про реєстрацію офіційних спостерігачів

    Відповідно до частин п’ятої, шостої, сьомої, восьмої статті 69 Закону України “Про вибори Президента України” та
    Постанови Центральної <br/>

    виборчої комісії № 82 від 27 березня 2014 року подаю для реєстрації у територіальному виборчому окрузі № ____ список
    офіційних спостерігачів від

    <strong>Всеукраїнської громадської організації «Комітет виборців України»</strong> у кількості {{ count }} осіб:


    <table style="border: 2px">
        <thead>
        <tr>
            <td>№</td>
            <td>Прізвище, ім’я, по <br/> батькові</td>
            <td>Громадянство</td>
            <td>Дата народження</td>
            <td>Адреса місця проживання</td>
            <td>Місце роботи</td>
            <td>Посада <br/>(заняття)</td>
            <td>Номер <br/> контактного <br/> телефону</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}


            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.name }}</td>
                <td>Україна</td>
                <td>{{ user.birthday }}</td>
                <td>{{ user.addressOfResidence }}</td>
                <td>{{ user.placeOfWork }}</td>
                <td>{{ user.work }}</td>
                <td>{{ user.phone }}</td>
            </tr>



        {% endfor %}
        </tbody>

    </table>

    Додатки: <br/>

    <ol>
        <li>Заяви про згоди осіб, зазначених у поданні, бути офіційним спостерігачем від Комітету виборців України (___-шт.).</li>
        <li>Ксерокопії першої та другої сторінок паспорта громадянина України осіб, зазначених у поданні. (____шт.).</li>
        <li>Копія постанови ЦВК № 82 від 27 березня 2014 року «Про клопотання Всеукраїнської громадської організації «Комітет
            виборців України» <br/>

            про надання дозволу мати офіційних спостерігачів під час позачергових виборів Президента України 25 травня 2014
            року.
        </li>
    </ol>
    1.

    2.

    3.



    “22 ” квітня 2014 року Генеральний директор ______________ Черненко О. М.

    ВГО «Комітет виборців України»

</div>
