{{ file.description }}
<br/>

{% if isImage %}
    <a href="http://{{ domain }}/files/{{ file.file }}" target="_blank">
        <img src="http://{{ domain }}/files/{{ file.file }}" alt="" style="max-width: 800px"/>
    </a>
{% else %}
    <a href="http://{{ domain }}/files/{{ file.file }}" target="_blank">Переглянути</a>
{% endif %}